.mission-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}
.mission{
    width: 50%;
    height: 600px;
    overflow: hidden;
}
.mission img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mission-overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #1A1835CC;
    color: #EFF5FD;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vision{
    width: 50%;
    padding: 60px;
    visibility: hidden;
}
.vision h1{
    font-family: "FontSpring", sans-serif;
    font-size: 24px;
    margin-bottom: 15px;
}
.vision p{
    font-family: 'Frygia', sans-serif;
    font-size: 14px;
    color: #EFF5FD;
    line-height: 19.2px;
    letter-spacing: 0.4px;
}
.mission-overlay:hover .vision{
    visibility: visible;
    
}
.mission-overlay:hover{
    border-bottom: #EFF5FD 2px solid;
}