.download-main-container {
  background-image: url("../../../public/images/downloadbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay2 {
  background-color: #000000be;
}
.download-sub-container {
  margin: 0 auto;
  width: 85%;
  padding: 0 1rem;
  padding-top: 5rem;
  padding-bottom: 50px;
}
.download-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.download-left {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}
.download-title h4 {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #ffffff;
}
.download-desc p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffffcc;
}
.download-right{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.store{
  width: 50%;
  object-fit: cover;
}
.store img{
  width: 100%;
}
.app-store{
  text-align: center;
  padding: 15px;
  border-radius: 73px;
  background-color: #FFFFFF;
  cursor: pointer;
}
.play-store{
  text-align: center;
  padding: 15px;
  border-radius: 73px;
  background-color: #FFFFFF;
  cursor: pointer;
}

@media screen and (max-width: 991px){
  .download-contents{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .download-left{
    width: 100%;
    align-items: center;
  }
  .download-right{
    width: 50%;
  }
  .download-title h4{
    font-size: 30px;
    text-align: center;
  }
  .download-desc p{
    font-size: 14px;
    text-align: center;
  }

}
@media screen and (max-width: 767px){
  .download-right{
    width: 60%;
  }
}
@media screen and (max-width: 500px) {
  .download-sub-container{
    width: 100%;
  }
  .download-title h4{
    font-size: 150%;
  }
  .download-desc p{
    font-size: 12px;
  }
  .download-right{
    width: 100%;
  }
}