@font-face {
  font-family: 'FontSpring';
  src: url('../../assets/fontspring-demo-16.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-shrink: 0;
}

.upperLevel{
  /* border: 10px solid red; */
  position: relative;
}

.headings{
  /* border: 10px solid red; */
  margin-top: 120px;
  text-align: center;
}

.form-space{
  position: absolute;
  /* border: 10px solid blue; */
  width: 100%;
  bottom: 10%;
}
.form-box{
  display: flex;
  /* border: 5px solid yellow; */
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  /* background-color: #28334480; */
  background-color: #28334483;
  padding: 10px 20px;
  border-radius: 10px;
}

.form-box:hover{
  background-color: #283344;
}
.time-selector{
  /* border: 2px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.time-selector button{
  width: 120px;
  background: #28334440;
  border: 2px solid #EFF5FD33;
  border-radius: 5px;
  padding: 15px 0;
  color: #EFF5FD;
  font-family: 'FontSpring', sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.time-selector button:hover{
  background-color: #BF5BA1;
}

.form-entity{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  gap: 15px;
}

.form-entity img{
  width: 25px;
}

.selector-title{
  margin-bottom: 10px;
  font-size: 16px;
}

select{
  width: 80px;
  color: #FFFFFF;
  background-color: rgba(255, 0, 0, 0);
  border: none;
  font-size: 16px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('../../assets/dropdown.png') no-repeat right center;
  background-size: 30px;
}

select:focus {
  outline: none;
  border: none;
}

.first-selector{
  margin-right: 10px;
}
.action-button{
  background-color: #5852A2;
  color: #FFFFFF;
  font-family: 'FontSpring', sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
}

.action-button img{
  width: 45px;

}
.hero-content {
  text-align: center;
  color: #ffffff;
  padding-top: 3rem;
}
.hero-content p {
  font-weight: 700;
  font-size: 64px;
  /* margin-top: 1rem; */
  /* padding: 10px; */
  line-height: 50px;
}

.join-waitlist{
  background: #5852A2;
  font-size: 14px;
  line-height: 14px;
  font-family: 'FontSpring', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 10px auto;
  padding: 20px 20px;
  border-radius: 7px;
}

.hero-controls{
  position: absolute;
  top: 45%;
  width: 100%;
  height: 100%;
  /* border: 20px solid green; */
}

.hero-button{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ffffff00;
  border: 2px solid #ffffff38;
  position: absolute;
  cursor: pointer;
}

.hero-button:hover{
  background-color: #EFF5FD33;
  border: 2px solid #ffffff66;
}

.hero-button img{
  width: 25px;
  height: 25px;
}

.left-button{
  left: -30px;
}

.right-button{
  right: -30px;
}

.hero-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.232);
  /* border: 10px solid red; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
  color: white;
  text-align: center;
}
.header{
  font-size: 45px;
  font-family: 'FontSpring', sans-serif;
}
.subheader{
  font-size: 14px;
  /* font-family: 'FontSpring', sans-serif; */
}
@media screen and (max-width: 991px){
  .hero-content p{
  /* width: 982px; */
  font-weight: 700;
  font-size: 48px;
  /* line-height: 76.8px; */
}

@media screen and (max-width: 767px) {
  .hero-content{
    padding-top: 50px;
  }
  .hero-content p{
    font-size: 38px;
    line-height: 30px;
  }
}

@media screen and (max-width: 600px) {
  .hero-content p{
    font-size: 30px;
    line-height: 30px;
  }

}

@media screen and (max-width: 480px){
  .hero-content p{
    font-size: 24px;
  }
}
  
}

