.dropdown-content{
    z-index: 5;
    transition: all 0.3s linear;
    display: flex;
    align-items: center;
}

/* .showMenu{
    transform: translateY(0);
    transition: all 0.3s linear;
} */
.nav-links ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-family: 'poppins', sans-serif;
}
li a {
  color: #824C9D;
}

li a:hover{
  font-weight: bold;
}

