 .car-collection-main-container {
  background-color: #f5f5f5;
  /* min-height: 150vh; */
}
.car-collection-sub-container {
  /* max-width: 1100px; */
  margin: 0 auto;
  width: 90%;
  /* border: 5px solid red; */
}
.car-collection-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding-top: 5rem;
}
.car-collection-title h4 {
  font-weight: 700;
  font-size: 48px;
  line-height: 62.4px;
  letter-spacing: -2%;
  text-align: center;
}
.car-collection-description p {
  /* width: 720px; */
  font-weight: 500;
  font-size: 18px;
  line-height: 28.8px;
  letter-spacing: -2%;
  text-align: center;
}
.collection-filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.collection-filter-btns {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.filter-btn {
  border: none;
  border-radius: 58px;
  padding: 10px 26px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -2%;
  text-align: center;
  background-color: #ffffff;
  cursor: pointer;
}
.filter-btn:focus {
  color: #ffffff;
  background-color: #0f0f0f;
}
.active {
  color: #ffffff;
  background-color: #0f0f0f;
}
.filter-btn:hover {
  color: #ffffff;
  background-color: #0f0f0f;
}
.car-cards-container {
  display: grid;
  gap: 3rem 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 4rem;

  justify-content: space-evenly;
  gap: 2em 1em;
  /* gap: 20px; */
}
.card-title p {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
.price {
  font-weight: 800px;
  font-size: 32px;
  line-height: 38.4px;
}
.price span {
  /* display: inline; */
  font-weight: 600px;
  font-size: 16px;
  line-height: 19.2px;
  color: #cbc3c3;
}
.car-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 360px;
  width: 100%;
  padding: 15px;
  border-radius: 24px;
  background-color: #ffffff;
  transition: linear ease-in-out 300ms;
  margin: 0 auto;
  /* transition-duration: 5s; */

}
.car-card img {
  max-width: 100%;
  height: auto;
}
.card-title-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.car-features-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  padding: 8px;
  background-color: #f6f6f6;
}
.car-features-flex-container {
  display: flex;
  gap: 2rem;
}
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}
.feature img {
  font-size: 20px;
}
.feature span {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
.car-card-btn {
  margin-top: 1rem;
  text-align: center;
  padding: 8px 90px;
  border: none;
  border: 1px solid #000000;
  border-radius: 32px;
  color: #000000;
  background-color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.36px;
  cursor: pointer;
}
.car-card-btn:hover {
  color: #ffffff;
  background-color: #000000;
}
.see-all-cars {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 5rem;
}
.see-all-cars-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  gap: 10px;
  padding: 15px 50px 15px 40px;
  border: none;
  background-color: #000000;
  border-radius: 64px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
}
/* .see-all-cars-btn:hover {
  color: #FFFFFFFF;
  background-color: #000000;
} */
.arrow-icon {
  font-size: 20px;
}

/* .car-collection-description p {
  width: 720px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28.8px;
  letter-spacing: -2%;
  text-align: center;
} */

@media screen and (max-width: 991px){
  .car-collection-title h4{
    font-size: 38px;
  }
  .car-cards-container{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 991px){
  .car-collection-title h4{
    font-size: 30px;
  }
}

@media screen and (max-width: 767px) {
  .car-collection-title h4{
    /* font-size: 38px; */
    line-height: 30px;
  }
  .filter-btn {
    font-size: 12px;
    padding: 5px 13px;
  }
  .car-cards-container{
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 525px) {
  .collection-filter-container{
    display: block;
    width: 100%;
    overflow-x: scroll;
  }
  .collection-filter-container::-webkit-scrollbar{
    display: none;
  }
  .collection-filter-btns{
    justify-content: space-between;
    min-width: 525px;
    gap: 3px;
  }
  .filter-btn{
    font-size: 10px;
  }
  .car-collection-description p{
    font-size: 16px;
  }
}
  

