.about-container{
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
}
.about-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000BF;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 10px solid yellow; */
  gap: 20px;
  color: white;
}
.about-us h1{
  font-family: "FontSpring", sans-serif;
  color: #824C9D;
}
.about-us p{
  font-family: 'Frygia', sans-serif;
  font-size: 14px;
  line-height: 19.2px;
  color: #EFF5FD;
  margin-bottom: 40px;
}
.about-us button{
  font-family: "FontSpring", sans-serif;
  font-size: 18px;
  background-color: #00000000;
  color: #EFF5FD;
  border: 2px solid #824C9D;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
}