.bookNow-main-container{
    background-color: #141333;
    border: 5px solid red;
    width: 100%;
}

.bookNow-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bookNow-left, .bookNow.right{
    border: 2px solid yellow;
    width: 50%;
}
.bookNow-left img{
    object-fit: cover;
}