.bookNow-main-container{
    background-color: #141333;
    width: 100%;
    height: 270px;
    display: flex;
}

.bookNow-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bookNow-left{
    width: 50%;
    height: 200px;
    position: relative;
    /* border: 2px solid yellow; */
}
.bookNow-left img{
    width: 70%;
    position: absolute;
    top: -55px;
    /* border: 2px solid red; */
}
.bookNow-right{
    color: #FFFFFF;
    width: 40%;
}

.bookNow-right h1{
    font-family: "FontSpring", sans-serif;
    font-size: 2em;
    margin-bottom: 10px;
}
.bookNow-right p{
    font-family: 'Frygia', sans-serif;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 20px;
}
.bookNow-button {
    display: flex;
    justify-content: end;
    align-items: end;
    /* border: 2px solid red; */
}
.bookNow-button button{
    background-color: #5852A2;
    padding: 20px 30px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.bookNow-button button p{
    font-family: 'FontSpring', sans-serif;
    font-size: 1.3em;
    margin-bottom: 0;
}