footer{
  background-color: #141333;
  width: 100%;
}
.footer-logo{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-bottom: 2px solid #EFF5FD;
}
.footer-logo img{
  width: 200px;
  margin: 60px 0;
}
.footer-container{
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  color: #FFFFFF;
  font-family: 'poppins', sans-serif;
}
.flex{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  color: #FFFFFF;
}
.footer-title, li{
  margin-bottom: 20px;
}
.newsletter{
  background-color: #011621;
  width: 300px;
  padding: 15px;
  border-radius: 8px;
}
.newsletter-input{
  margin-bottom: 20px;
}
.mail-field{
  width: 60%;
  padding: 10px;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #02273A;
}
.mail-field::placeholder{
  color: #616161;
  font-size: 12px;
}
.submit-button{
  background-color: #000E15;
  width: 40%;
  height: 100%;
  color: #FFFFFF;
  font-size: 12px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
}
.news-hint{
  font-size: 12px;
  color: #9c9b9b;
  letter-spacing: 1px;
}