.form-container {
  min-height: 20vh;
  width: 100%;
  border: 5px solid yellow;
  position: relative;
  /* top: -11%; */
  /* display: none; */
}

.form-positioner{
  width: 100%;
  /* border: 5px solid red; */
  position: absolute;
  bottom: 50%;
}
.form-sub-container {
  width: 90%;
  margin: auto;
  padding: 20px;
  border-radius: 16px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #ffffffe5;
}

form {
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* gap: 16px; */
  justify-content: space-between;
  /* border: 2px solid purple; */
}
.inputs {
  width: 20%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* border: 5px solid red; */
}
.date-container {
  width: 15%;
}
.locaionIcon {
  position: absolute;
  top: 45px;
  left: 10px;
  font-size: 20px;
}
label {
  color: #000000;
  /* opacity: 80%; */
  font-size: 14px;
}
.search-input {
  /* padding-left: 35px;
  padding-right: 55px;
  padding-top: 16px;
  padding-bottom: 16px; */
  padding: 16px 5px 16px 35px;
}
.date-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  padding: 15px 7px;
}
input {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  outline: none;
  border: none;
  border: 1px solid #0000001a;
  border-radius: 8px;
  background-color: #ffffff;
}
::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border: 5px solid yellow; */
}
.form-btn button {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding-left: 20px;
  padding-right: 35px;
  padding-top: 15px;
  padding-bottom: 11px;
  border: none;
  border-radius: 64px;
  background-color: #0f0f0f;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  form{
    flex-direction: column;
    gap: 2rem;
  }
  .inputs, .date-container{
    width: 100%;
  }
  .form-container{
    /* border: 5px solid red; */
    height: 500px;
  }
  .form-positioner{
    bottom: 0;
    top: -15%;
  }
}
