*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  font-family: "Inter Tight", sans-serif;
  overflow-x: hidden;
  margin: 0 auto;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}
ul li{
  list-style: none;
}